* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 512px;
  margin: 0 auto;
}

#site_header {
  height: 12rem;
  background-image: url(../img/banner.png);
  background-size: contain;
  background-size: 512px 13rem;
  background-repeat: no-repeat;
}

#site_main {
  padding: 2rem;
  background-color: rgb(32, 32, 150);
}

#intro {
  min-height: 25rem;
  min-width: 6rem;
  padding: 2.5rem 2.5rem;
  text-align: center;
}

#intro_title {
  color: white;
  font-family: "Sigmar", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#p_intro {
  color: white;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  text-transform: capitalize;
}

.button {
  font-family: "DM Sans", sans-serif;
  margin: 0.3rem;
  height: 2.5rem;
  width: 20rem;
  border: 1px solid black;
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.card {
  max-height: 300rem;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 2rem;
  background-color: rgb(111, 111, 221);
}

.card_title {
  padding: 1.5rem;
  color: white;
  font-family: "Sigmar", sans-serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.p_card {
  padding: 1rem;
  color: white;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  text-transform: capitalize;
}

.card_img {
  padding: 2rem;
  max-width: 24rem;
  max-height: 18rem;
  border-radius: 4rem;
  text-align: center;

}