* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --page_background: rgb(32, 32, 150);
  --page_text: white;
}

body {
  max-width: 512px;
  margin: 0 auto;
}

.site_banner{
  display: block;
  min-width: 512px;
  max-height: 15rem;
}

#site_main {
  background-color: var(--page_background)
}

#intro {
  display: block;
  margin-bottom: 5rem;
  color: white;
}

#intro_title {
  font-family: "Sigmar", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 3rem 8rem 1rem;
  line-height: 2rem;
}

#p_intro {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  text-transform: capitalize;
  padding: 0rem 5rem;
  margin-bottom: 2rem;
}

.button {
  display: block;
  max-width: 512px;
  margin: 0 auto;
  height: 2.5rem;
  width: 20rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  padding: 0.5rem;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  cursor: pointer;
}

#download_button {
  background-color: aliceblue;
  font-size: 17px;
}

#web_button {
  background-color: #5d5de9;
  color: white;
  font-size: 17px;
}

.card {
  position: relative;
  max-width: 512px;
  margin: 0 auto;
  min-height: 35rem;
  width: 28rem;
  margin-bottom: 3rem;
  border-radius: 2rem;
  background: linear-gradient(180deg,rgba(95, 102, 214, 0.9) 0%,rgba(95, 102, 214, 0.6) 60%,rgba(95, 102, 214, 0.3) 100%);
  text-align: center;
  color: white;
}

.icon_card {
  position: absolute;
  display: flex;
  align-self: center;
  width: 100px;
  height: 100px;
  background: transparent;
  border-radius: 15px;
}

.card_title {
  font-family: "Sigmar", sans-serif;
  text-align: left;
  text-transform: uppercase;
  padding: 3rem;
  line-height: 2rem;
}

.p_card {
  padding: 0rem 3rem;
  color: white;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  text-transform: capitalize;
}

.video_card {
  padding: 2rem;
  max-width: 24rem;
  max-height: 18rem;
  border-radius: 4rem;
  text-align: center;
}